<div class="onboarding-checklist__container">
  <h2 class="onboarding-checklist__heading">Welcome to GC-Connect!</h2>
  <p class="onboarding-checklist__info">
    Welcome to Grand Circus (GC) Connect! GC-Connect will serve as the main hub
    for all of your Bootcamp, Career Services, Affinity Group and Events
    information needs. Below you will find a checklist of items you need to
    complete prior to your first day of class.
  </p>
  <table class="onboarding-checklist_table">
    <!-- TABLE HEADINGS -->
    <thead>
      <tr>
        <th>Action Item</th>
        <th>Contact for Questions</th>
        <th>Completed?</th>
      </tr>
    </thead>
    <!-- ACTION ITEM 1 -->
    <tr>
      <td class="action-item">
        Set up your Slack account (check email for invite).
      </td>
      <td>
        <a href="mailto:support@grandcircus.co">support@grandcircus.co</a>
      </td>
      <td class="checkbox">
        <label for="slack"></label>
        <input type="checkbox" id="slack" name="slack" />
      </td>
    </tr>
    <!-- ACTION ITEM  2 -->
    <tr>
      <td class="action-item">
        Pay the remainder of
        <a href="https://www.grandcircus.co/bootcamp-tuition-payment-form/"
          >your tuition</a
        >.
      </td>
      <td>
        <a href="mailto:tuition@grandcircus.co">tuition@grandcircus.co</a>
      </td>
      <td class="checkbox">
        <label for="tuition"></label>
        <input type="checkbox" id="tuition" name="tuition" />
      </td>
    </tr>
    <!-- ACTION ITEM  3 -->
    <tr>
      <td class="action-item">
        Complete the
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSch55JBSBviZDHHUgs6_wv4hnmicj_KtUwAvPlEUx5NkEa6UA/viewform"
          >Getting to Know You Survey</a
        >
        prior to orientation.
      </td>
      <td>
        <a href="mailto:admissions@grandcircus.co">admissions@grandcircus.co</a>
      </td>
      <td class="checkbox">
        <label for="survey"></label>
        <input type="checkbox" id="survey" name="survey" />
      </td>
    </tr>
    <!-- ACTION ITEM  4 -->
    <tr>
      <td class="action-item">
        Complete your GC-Connect profile (upload a picture, fill out your bio,
        add your LinkedIn and GitHub url's, etc.)
      </td>
      <td>Not applicable</td>
      <td class="checkbox">
        <label for="profile"></label>
        <input type="checkbox" id="profile" name="profile" />
      </td>
    </tr>
    <!-- ACTION ITEM  5 -->
    <tr>
      <td class="action-item">
        Complete all intro exercises in the
        <a href="https://lms.grandcircus.co/login/index.php">LMS</a>.
      </td>
      <td>
        <a href="mailto:instructor@grandcircus.co">instructor@grandcircus.co</a>
      </td>
      <td class="checkbox">
        <label for="lms-exercises"></label>
        <input type="checkbox" id="lms-exercises" name="lms-exercises" />
      </td>
    </tr>
    <!-- ACTION ITEM  6 -->
    <tr>
      <td class="action-item">
        Bookmark your class's
        <a
          href="https://grandcircus.zoom.us/j/92346514391?pwd=YUpreDFZQTB0czlSL2hObE9UT2NGZz09#success"
          >Zoom link</a
        >. You'll be using this link 3x a week. Having it bookmarked in your
        browser allows you to find it quickly!
      </td>
      <td>
        <a href="mailto:instructor@grandcircus.co">instructor@grandcircus.co</a>
      </td>
      <td class="checkbox">
        <label for="zoom-link"></label>
        <input type="checkbox" id="zoom-link" name="zoom-link" />
      </td>
    </tr>
    <!-- ACTION ITEM  7 -->
    <tr>
      <td class="action-item">
        Review the
        <a href="#">GC calendar</a>. Make note of any important dates
        (orientation, first day of class, soft skills sessions, etc.)
      </td>
      <td>
        <a href="mailto:admissions@grandcircus.co">admissions@grandcircus.co</a>
      </td>
      <td class="checkbox">
        <label for="calendar"></label>
        <input type="checkbox" id="calendar" name="calendar" />
      </td>
    </tr>
    <!-- ACTION ITEM  8 -->
    <tr>
      <td class="action-item">
        Explore the
        <a
          href="https://docs.google.com/document/d/1zHc9eWbT3OyAk_16MB7QxyiSqOhUW5pYZqvW75uvsjk/edit"
          >Career Services Syllabus</a
        >. Learn about the CS team members, review the requirements for
        graduation, make note of the upcoming Soft Skills session dates and
        assignment due dates, begin scheduling your 1:1 sessions, etc.
      </td>
      <td>
        <a href="mailto:careerservices@grandcircus.co"
          >careerservices@grandcircus.co</a
        >
      </td>
      <td class="checkbox">
        <label for="career-services"></label>
        <input type="checkbox" id="career-services" name="career-services" />
      </td>
    </tr>
    <!-- ACTION ITEM  9 -->
    <tr>
      <td class="action-item">
        Explore the
        <a href="#">GC Affinity Groups</a>. Join any of the groups that are of
        interest to you or create a new group!
      </td>
      <td>
        <a href="mailto:admissions@grandcircus.co">admissions@grandcircus.co</a>
      </td>
      <td class="checkbox">
        <label for="groups"></label>
        <input type="checkbox" id="groups" name="groups" />
      </td>
    </tr>
  </table>
</div>
