<app-navigation></app-navigation>
<div class="career-services__container">
  <!-- CAREER SERVICES TEAM MEMBERS -->
  <div class="career-services-team__container">
    <div class="headline-container">
      <h1>Career Services</h1>
      <h4 class="career-services__h4">Meet Your Career Services Team</h4>
    </div>
    <div class="team-members__container">
      <!-- TEAM MEMBER 1 -->
      <div class="team-member">
        <img
          class="team-member__img"
          src="../../../assets/hanna.jpeg"
          alt="Hanna Root"
        />
        <h3>Hanna Root</h3>
        <p class="team-member__title">
          Lead Manager of Talent Solutions & Career Services Specialist
        </p>
        <a
          href="mailto:hanna.root@grandcircus.co"
          target="_blank"
          rel="noopener noreferrer"
          ><button class="email">
            <fa-icon [icon]="faEnvelope"></fa-icon>Email
          </button></a
        >
        <a
          href="https://calendly.com/hanna-root/career1on1?month=2021-06"
          target="_blank"
          ><button class="calendly">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>Calendly
          </button></a
        >
      </div>
      <!-- TEAM MEMBER 2 -->
      <div class="team-member">
        <img
          class="team-member__img"
          src="../../../assets/joe.jpeg"
          alt="Joe Schoch"
        />
        <h3>Joe Schoch</h3>
        <p class="team-member__title">
          Enterprise Partnerships Manager & AH Career Services Specialist
        </p>
        <a
          href="mailto:joe.schoch@grandcircus.co"
          target="_blank"
          rel="noopener noreferrer"
          ><button class="email">
            <fa-icon [icon]="faEnvelope"></fa-icon>Email
          </button></a
        >
        <a href="https://calendly.com/joe-schoch-gc/" target="_blank"
          ><button class="calendly">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>Calendly
          </button></a
        >
      </div>
      <!-- TEAM MEMBER 3 -->
      <div class="team-member">
        <img
          class="team-member__img"
          src="../../../assets/john.jpeg"
          alt="John Rumery"
        />
        <h3>John Rumery</h3>
        <p class="team-member__title">Director of Community Engagement</p>
        <a
          href="mailto:john.rumery@grandcircus.co"
          target="_blank"
          rel="noopener noreferrer"
          ><button class="email">
            <fa-icon [icon]="faEnvelope"></fa-icon>Email
          </button></a
        >
        <a
          href="https://calendly.com/john_rumery_career1on1/career_conversation?month=2021-06"
          target="_blank"
          ><button class="calendly">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>Calendly
          </button></a
        >
      </div>
      <!-- TEAM MEMBER 4 -->
      <div class="team-member">
        <img
          class="team-member__img"
          src="../../../assets/elizabeth.jpeg"
          alt="Elizabeth Vincent"
        />
        <h3>Elizabeth Vincent</h3>
        <p class="team-member__title">
          Alumni Support & Career Services Specialist
        </p>
        <a
          href="mailto:elizabeth.heaton@grandcircus.co"
          target="_blank"
          rel="noopener noreferrer"
          ><button class="email">
            <fa-icon [icon]="faEnvelope"></fa-icon>Email
          </button></a
        >
        <a
          href="https://calendly.com/elizabeth-vincent/career-services-1-1-coaching-conversations-clone?month=2021-06"
          target="_blank"
          ><button class="calendly">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>Calendly
          </button></a
        >
      </div>
      <!-- TEAM MEMBER 5 -->
      <div class="team-member">
        <img
          class="team-member__img"
          src="../../../assets/laura.jpeg"
          alt="Laura Crouch"
        />
        <h3>Laura Crouch</h3>
        <p class="team-member__title">AH Career Services Specialist</p>
        <a
          href="mailto:laura.crouch@grandcircus.co"
          target="_blank"
          rel="noopener noreferrer"
          ><button class="email">
            <fa-icon [icon]="faEnvelope"></fa-icon>Email
          </button></a
        >
        <a
          href="https://calendly.com/laura-crouch/career1on1?month=2021-06"
          target="_blank"
          ><button class="calendly">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>Calendly
          </button></a
        >
      </div>
    </div>
  </div>
  <!-- CAREER SERVICES GRADUATION REQUIREMENTS -->
  <div class="career-services-requirements__container">
    <div class="career-services-requirements__child">
      <h2 class="career-services__h2">Graduation Requirements</h2>
      <p>
        Below is an outline of the Career Services requirements every
        job-seeking student must complete in order to be eligible for
        graduation. Any student who has not met those requirements by the start
        of Final Projects will go through a Career Services review and may be
        removed from bootcamp.
      </p>
      <table class="requirements__table">
        <tr>
          <th>Requirement</th>
          <th>Description</th>
          <th>Relevant Links</th>
          <th>Due Date</th>
        </tr>
        <!-- Requirement 1 -->
        <tr>
          <td>Attend all Soft Skills sessions</td>
          <td>
            There will be a total of 6 mandatory Soft Skills sessions. These
            sessions will be held during classtime.
          </td>
          <td>Not Applicable</td>
          <td>
            See <a routerLink="/calendar" target="_blank">GC's Calendar</a> for
            upcoming Soft Skills session dates.
          </td>
        </tr>
        <!-- Requirement 2 -->
        <tr>
          <td>Participate in two 1:1 Coaching Sessions</td>
          <td>
            During your bootcamp, you are required to meet with a member of the
            career services team at least TWICE. You are always welcome to
            schedule more appointments with us! Your first coaching session
            needs to happen within the first 3 weeks of bootcamp.
          </td>
          <td>
            Use a Career Services team member's Calendly link above to schedule
            a 1:1 coaching session.
          </td>
          <td>Prior to your last bootcamp class.</td>
        </tr>
        <!-- Requirement 3 -->
        <tr>
          <td>Update your LinkedIn profile</td>
          <td>
            Using the rubric provided, update your LinkedIn profile to meet the
            requirements.
          </td>
          <td>
            You can find the
            <a
              href="https://docs.google.com/spreadsheets/d/1TuK2gaq9XdDBhMITrcNfHfvof2hQOz7xUcq6r8mwYXk/copy"
              target="_blank"
              >rubric</a
            >
            here.
          </td>
          <td>
            Check the
            <a routerLink="/calendar" target="_blank">GC Calendar</a> to see
            when this assignment is due for your cohort.
          </td>
        </tr>
        <!-- Requirement 4 -->
        <tr>
          <td>Update your resume</td>
          <td>
            Using the rubric provided, update your resume to meet the
            requirements.
          </td>
          <td>
            You can find the
            <a
              href="https://docs.google.com/document/d/1Jh6FmpGuatmpbuAoOTyhs0g6KRuSW671DBRteYaAW6Q/copy"
              target="_blank"
              >rubric</a
            >
            here.
          </td>
          <td>
            Check the
            <a routerLink="/calendar" target="_blank">GC Calendar</a> to see
            when this assignment is due for your cohort.
          </td>
        </tr>
        <!-- Requirement 5 -->
        <tr>
          <td>Participate in mock interviews</td>
          <td>
            Mock behavioral and technical interviews are an excellent way to
            prepare you for the real thing. The week prior to your mock
            interview, you will be sent a calendar invite including information
            about the company and role you are interviewing for.
          </td>
          <td>Not applicable</td>
          <td>
            Check the
            <a routerLink="/calendar" target="_blank">GC Calendar</a> to see
            when mock interviews will be held for your cohort.
          </td>
        </tr>
        <!-- Requirement 5 -->
        <tr>
          <td>
            Participate in the final group project and submit it to the Student
            Portal
          </td>
          <td>
            Throughout bootcamp, you will be required to participate in three
            group projects. The final project will be submitted to the Student
            Portal for potential employers, Grand Circus staff and future
            students to explore.
          </td>
          <td>
            You can create an account for and browse the Student Portal
            <a href="https://grandcircusgrads.co/" target="_blank">here</a>.
          </td>
          <td>
            Check the
            <a routerLink="/calendar" target="_blank">GC Calendar</a> to see
            when this assignment is due for your cohort.
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- CAREER SERVICES RESOURCES -->
  <div class="career-services-resources__container">
    <div class="resources__container">
      <!--Soft Skills Session Slides-->
      <div class="resources__column">
        <h3>Soft Skills Session Slides</h3>
        <ul class="resources__list">
          <li class="resources__listItem">
            <a
              href="https://lms.grandcircus.co/pluginfile.php/23718/mod_resource/content/1/Imposter%20Syndrome%20-%201.20.21.pdf"
              target="_blank"
              >Understanding Imposter Syndrome</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://lms.grandcircus.co/pluginfile.php/23719/mod_resource/content/1/Feedback%20Workshop%201.20.21.pdf"
              target="_blank"
              >Feedback: It's a Gift</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://lms.grandcircus.co/pluginfile.php/24340/mod_resource/content/1/Employable%20You%20%28LinkedIn%29%20-%203.8.21.pdf"
              target="_blank"
              >Employable You</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://lms.grandcircus.co/pluginfile.php/25173/mod_resource/content/1/Career%20Inspiration%20%20Exploration%20-%203.29.21.pdf"
              target="_blank"
              >Career Inspiration and Exploration</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://lms.grandcircus.co/pluginfile.php/26090/mod_resource/content/1/Communicating%20For%20Success%204.19.21.pdf"
              target="_blank"
              >Communicating for Success</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://lms.grandcircus.co/pluginfile.php/26736/mod_resource/content/1/Interview%20Prep%20-%205.3.21.pdf"
              target="_blank"
              >Interview Preparation</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://lms.grandcircus.co/pluginfile.php/27526/mod_resource/content/1/Distinct%20Value%20Add%20Slides%205.26.21.pdf"
              target="_blank"
              >Distinct Value Add</a
            >
          </li>
        </ul>
      </div>
      <!--LinkedIn and Resume Resources-->
      <div class="resources__column">
        <h3>LinkedIn & Resume</h3>
        <ul class="resources__list">
          <li class="resources__listItem">
            <a
              href="https://www.youtube.com/watch?v=YQvUbIV3sW8"
              target="_blank"
              >Crafting a LinkedIn Profile</a
            >
            <i class="fa fa fa-video-camera" aria-hidden="true"></i>
          </li>
          <li class="resources__listItem">
            <a
              href="https://business.linkedin.com/marketing-solutions/blog/best-practices--thought-leadership/2018/add-punch-to-your-linkedin-profile-using-these-examples-as-inspi"
              target="_blank"
              >LinkedIn Summary Examples</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://university.linkedin.com/content/dam/university/global/en_US/site/pdf/TipSheet_BuildingYourBrand.pdf"
              target="_blank"
              >LinkedIn Branding Tip Sheet</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://www.youtube.com/watch?v=UWfbP08srhE"
              target="_blank"
              >How to Take a Good LinkedIn Photo</a
            >
            <i class="fa fa fa-video-camera" aria-hidden="true"></i>
          </li>
          <li class="resources__listItem">
            <a href="https://resumegenius.com/" target="_blank"
              >Resume Genius</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://careersidekick.com/how-to-tailor-your-resume-for-each-job-description/"
              target="_blank"
              >How to Tailor Your Resume to a Specific Job Description</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://careersidekick.com/words-for-resume/"
              target="_blank"
              >80+ Power Words to Use on Your Resume</a
            >
          </li>
        </ul>
      </div>
      <!--Job Search Resources-->
      <div class="resources__column">
        <h3>Job Search</h3>
        <ul class="resources__list">
          <li class="resources__listItem">
            <a
              href="https://docs.google.com/document/d/1tBBTja3s_MEYnTga43-c_4ndNr47ZvtFH200vrZP3tk/edit"
              target="_blank"
              >Finding Your Career Purpose</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://docs.google.com/document/d/1fORz2-WYWv_o9oTvtBHyMLbSpoo6hbTkY_40RCy-LyA/edit"
              target="_blank"
              >How to Find Good Fit Jobs</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://airtable.com/invite/l?inviteId=inv8u3SgO5bRROPJp&inviteToken=660bcd978662ee5d6d2a58d2946cf31d60f9389465b3fcbbcec9469d0c956109"
              target="_blank"
              >Grand Circus Employer Database</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://drive.google.com/file/d/1cVOx6MxM7G-_2ScycVIxH0hh2qhyt6Vr/view"
              target="_blank"
              >Job Search Timeline</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://briefcasecoach.com/experts-guide-to-creating-targeted-company-lists/"
              target="_blank"
              >Guide to Creating a Targeted Company List</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://docs.google.com/document/u/1/d/1NjNMqGTU9saznBKgmGaLFabs8uHe_NaoK4bAGW40z2s/copy"
              target="_blank"
              >S.M.A.R.T. Goal Planning Document</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://docs.google.com/document/u/1/d/1ppkTrbUUxO1g-5UWvC_oPhDUsAKkuButEpWl_y8X32g/copy"
              target="_blank"
              >Weekly Job Search Goal Tracker</a
            >
          </li>
        </ul>
      </div>
      <!--Interviewing Resources-->
      <div class="resources__column">
        <h3>Interviewing</h3>
        <ul class="resources__list">
          <li class="resources__listItem">
            <a
              href="https://wmich.edu/sites/default/files/attachments/u86/2013/3.%20Behavioral%20Interview%20Preparation%20Worksheet.pdf"
              target="_blank"
              >Behavioral Interview Preparation Worksheet</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://www.indeed.com/career-advice/interviewing/most-common-behavioral-interview-questions-and-answers"
              target="_blank"
              >35 Behavioral Interview Questions to Prepare For</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://www.theladders.com/career-advice/elevator-pitch-examples"
              target="_blank"
              >Elevator Pitch Examples</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://careersidekick.com/wp-content/uploads/2019/02/tell-me-about-yourself.pdf"
              target="_blank"
              >"Tell Me About Yourself" Examples</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://www.guru99.com/software-engineering-interview-questions.html"
              target="_blank"
              >Top 50 Software Engineering Interview Questions and Answers</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://www.indeed.com/career-advice/interviewing/technical-interview"
              target="_blank"
              >Guide to Understanding the Technical Interview</a
            >
          </li>
          <li class="resources__listItem">
            <a
              href="https://www.topinterview.com/interview-advice/zoom-job-interview#:~:text=6%20simple%20Zoom%20interview%20tips%201%20Use%20the,4%20Utilize%20full-screen%20mode.%20...%20More%20items...%20"
              target="_blank"
              >6 Tips for How to Do a Zoom Interview</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
