<div class="container">
  <div class="sign-up__container">
    <img
      class="sign-up-container__logo"
      src="assets/svg/gcc-logo-orange-white.svg"
      alt="GC Connect logo"
    />

    <div class="sign-up-container__headings">
      <h1 class="sign-up-container__h1">Welcome!</h1>
      <h2 class="sign-up-container__h2">Create your account.</h2>
    </div>

    <form class="sign-up__form">
      <label for="email"></label>
      <input
        type="email"
        class="sign-up-form__input"
        placeholder="&#xf0e0;&nbsp;&nbsp;Email"
        name="email"
        #userEmail
        required
      />

      <label for="password"></label>
      <input
        type="password"
        class="sign-up-form__input"
        placeholder="&#xf023;&nbsp;&nbsp;Password"
        name="password"
        #userPwd
        required
      />

      <input
        type="button"
        class="button button--email-sign-up"
        value="Sign Up"
        (click)="ngAuthService.SignUp(userEmail.value, userPwd.value)"
      />

      <!-- <button
        type="button"
        class="button button--google-sign-up"
        (click)="signUpWithGoogle()"
      >
        Sign Up with Google
      </button> -->

      <div class="redirect-to-login__div">
        <span class="redirect-to-login__span"
          >Already have an account?
          <a class="redirect-to-login__link" routerLink="/sign-in"
            >Sign In</a
          ></span
        >
      </div>
    </form>
  </div>
</div>
