.button {
  border: none;
  padding: 1em;
  margin: 0.5em 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
}

.container {
  min-height: 100vh;
  min-width: 100%;
  background-color: #2d363c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up__container {
  width: 330px;
  color: #fff;
}

.sign-up-container__logo {
  margin: 2em 0;
}

.sign-up-container__headings {
  align-self: flex-start;
}

.sign-up-container__h1 {
  font-size: 3em;
  padding-bottom: 0.25em;
}

.sign-up-container__h2 {
  padding-bottom: 1.75em;
  font-weight: 300;
  font-family: "Fira Sans", sans-serif;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
}

.sign-up-form__input {
  padding: 1em 1.5em;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #1c242b;
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  font-family: FontAwesome, "Fira Sans", sans-serif;
}

.sign-up-form__input::placeholder {
  color: #fff;
  text-transform: uppercase;
}

.button--email-sign-up {
  background-color: #e1693d;
}

.button--email-sign-up:hover {
  filter: brightness(80%);
  transition: 0.3s;
}

.redirect-to-login__div {
  text-align: center;
  margin: 1em 0;
}

.redirect-to-login__span {
  font-size: 1em;
}

.redirect-to-login__link {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

.redirect-to-login__link:hover {
  text-decoration: underline;
}

.redirect-to-login__link:visited {
  color: #fff;
}
