/* FONTS
Main Headings: font-family: 'Calistoga', cursive;
Body Text: font-family: 'Fira Sans', sans-serif; */

/*COLORS 
Background Gray: #f5f5f5
Input Icon Gray: #bfbfbf
Blue: #343d46
Orange: #e0693d
Teal: #05d0cd
Purple: #7a324a
*/

/* GENERIC STYLING FOR APP */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: "Fira Sans", sans-serif;
}

input,
button,
label,
textarea {
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Calistoga", cursive;
}

.bg-gray {
  background-color: #f0f0f0;
}

.bg-transp-black {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-maroon {
  background-color: #7a324a;
}

.bg-orange {
  background-color: #e1693d;
}

.uppercase {
  text-transform: uppercase;
}

.letter-space {
  letter-spacing: 2px;
}

/* Styling for Calendar Component (has to be in here)*/
.fc-event-title,
.fc-event-time {
  color: #000000;
}

.fc-button-group
  .fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active,
.fc-button-group
  .fc-dayGridDay-button.fc-button.fc-button-primary.fc-button-active,
.fc-button-group
  .fc-dayGridWeek-button.fc-button.fc-button-primary.fc-button-active {
  background-color: #7a324a;
  border: 1px solid #7a324a;
  color: white;
}

.fc-dayGridWeek-button.fc-button.fc-button-primary,
.fc-dayGridDay-button.fc-button.fc-button-primary,
.fc-dayGridMonth-button.fc-button.fc-button-primary {
  background-color: white;
  color: #000000;
  border: 1px solid #bfbfbf;
}

.fc-dayGridDay-button.fc-button.fc-button-primary:hover,
.fc-dayGridWeek-button.fc-button.fc-button-primary:hover,
.fc-dayGridMonth-button.fc-button.fc-button-primary:hover {
  background-color: #7a324a;
  border: 1px solid #7a324a;
}

.fc .fc-toolbar.fc-header-toolbar {
  padding: 25px 15px 0px 15px;
  margin-bottom: 0em;
}

.fc-next-button.fc-button.fc-button-primary,
.fc-prev-button.fc-button.fc-button-primary {
  background-color: #efefef;
  color: #343d46;
  border: none;
}

.fc-next-button.fc-button.fc-button-primary:hover,
.fc-prev-button.fc-button.fc-button-primary:hover {
  background-color: #d3d3d3;
  transition: 0.3s;
  color: #343d46;
}

/* .fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active {
  background-color: #7a324a;
  color: white;
} */
