/* FONTS
Main Headings: font-family: 'Calistoga', cursive;
Body Text: font-family: 'Fira Sans', sans-serif; */

/*COLORS */

/* GENERIC STYLING FOR APP */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: "Fira Sans", sans-serif;
}

input,
button,
label {
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Calistoga", cursive;
}

.bg-gray{
  background-color: #f0f0f0;
}

.uppercase{
  text-transform: uppercase;
}

.letter-space{
  letter-spacing: 2px;
}