<app-navigation></app-navigation>
<app-user-popup
  *ngIf="displayDetails"
  [user]="currentUser"
  (closed)="onClose($event)"
></app-user-popup>

<form>
  <input
    type="text"
    name="group-search-text"
    placeholder="Search for a user..."
    [(ngModel)]="query"
  />

  <fa-icon class="search-icon" [icon]="faSearch" size="lg"></fa-icon>
</form>

<section class="bg-gray">
  <a
    *ngFor="let user of users | searchFilter: query"
    class="item-container"
    routerLink="[]"
    (click)="onUserSelect(user)"
  >
    <div class="flex-align-center">
      <img
        src="{{ user.photo }}"
        class="round-photo"
        onerror="this.onerror=null;this.src='/assets/gc-profile-default.png'"
      />
      <div class="item-details">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <p class="uppercase letter-space class-type">{{ user.bootcamp }}</p>
      </div>
    </div>

    <p
      class="uppercase user-type"
      [ngClass]="user.type === 'Student' ? 'bg-maroon' : 'bg-orange'"
    >
      {{ user.type }}
    </p>
  </a>
</section>
