<!-- Parent Container -->
<div class="nav-parent-container">
  <!-- GCC Connect Logo Container -->
  <div class="logo-container">
    <img src="assets/svg/gcc-logo-orange-blue.svg" alt="GC Connect logo" />
  </div>

  <!-- Navigation Container -->
  <div class="nav-container">
    <!-- FontAwesome icons with Aria Labels for accessibility-->
    <!-- Calendar -->
    <a routerLink="/calendar" aria-label="Calendar">
      <fa-icon
        class="nav-item nav-icon"
        routerLinkActive="active-icon"
        [icon]="faCalendarAlt"
        size="lg"
      ></fa-icon
    ></a>
    <!-- Groups -->
    <a routerLink="/groups" aria-label="Groups">
      <fa-icon
        class="nav-item nav-icon"
        routerLinkActive="active-icon"
        [icon]="faUserFriends"
        size="lg"
      ></fa-icon
    ></a>
    <!-- Directory -->
    <a routerLink="/directory" aria-label="Directory">
      <fa-icon
        class="nav-item nav-icon"
        routerLinkActive="active-icon"
        [icon]="faAddressBook"
        size="lg"
      ></fa-icon
    ></a>
    <!-- Career Services -->
    <a routerLink="/career-services" aria-label="Career Services">
      <fa-icon
        class="nav-item nav-icon"
        routerLinkActive="active-icon"
        [icon]="faBriefcase"
        size="lg"
      ></fa-icon
    ></a>
    <!-- Profile -->
    <a routerLink="/profile" aria-label="Profile">
      <img
        src="{{ user.photo }}"
        class="nav-item nav-profile-image"
        routerLinkActive="active-image"
      />
    </a>
  </div>

  <!-- Links container -->
  <div class="links-container">
    <!-- Zoom Link -->
    <a
      href="https://grandcircus.zoom.us/j/92346514391?pwd=YUpreDFZQTB0czlSL2hObE9UT2NGZz09"
      target="_blank"
      rel="noopener noreferrer"
      ><button class="header-button gray-button">Zoom</button></a
    >
    <!-- Project Portal -->
    <a
      href="https://grandcircusgrads.co/"
      target="_blank"
      rel="noopener noreferrer"
      ><button class="header-button gray-button">Project Portal</button></a
    >
    <!-- LMS -->
    <a
      href="https://lms.grandcircus.co/login/index.php"
      target="_blank"
      rel="noopener noreferrer"
      ><button class="header-button blue-button">LMS</button></a
    >
  </div>
</div>
