.calendar-parent {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.calendar-key__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  font-size: 14px;
  background-color: #f5f5f5;
  max-width: 200px;
}

.calendar-key__key {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 7px 5px;
}

.calendar-key__circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 3px;
}

full-calendar {
  width: 100%;
}

.gc-global {
  background-color: #e0693d;
}

.career-services {
  background-color: #05d0cd;
}

.ahfs-cNET {
  background-color: #8e24aa;
}

.ahfs-javascript {
  background-color: #b39edb;
}

.fs-cNET {
  background-color: #3f50b5;
}

.fs-javascript {
  background-color: #4285f4;
}

.ahfe-bootcamp {
  background-color: #7a324a;
}

.lgbtq-group {
  background-color: #0b8043;
}

.equity-group {
  background-color: #d81c60;
}

/* MEDIA QUERIES */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .calendar-parent {
    flex-direction: column;
  }
  .calendar-key__container {
    max-width: 100%;
    padding-bottom: 70px;
  }
}
