<app-navigation></app-navigation>
<div class="calendar-parent">
  <full-calendar #calendar [options]="calendarOptions"></full-calendar>
  <div class="calendar-key__container">
    <!-- CALENDAR 1 -->
    <div class="calendar-key__key">
      <div class="calendar-key__circle gc-global"></div>
      <p>Grand Circus Global</p>
    </div>
    <!-- CALENDAR 2 -->
    <div class="calendar-key__key">
      <div class="calendar-key__circle career-services"></div>
      <p>Career Services</p>
    </div>
    <!-- CALENDAR 8 -->
    <div class="calendar-key__key">
      <div class="calendar-key__circle ahfe-bootcamp"></div>
      <p>AHFE Bootcamp</p>
    </div>
    <!-- CALENDAR 3 -->
    <div class="calendar-key__key">
      <div class="calendar-key__circle ahfs-cNET"></div>
      <p>AHFS C# .NET Bootcamp</p>
    </div>
    <!-- CALENDAR 4 -->
    <div class="calendar-key__key">
      <div class="calendar-key__circle ahfs-javascript"></div>
      <p>AHFS JavaScript Bootcamp</p>
    </div>
    <!-- CALENDAR 5 -->
    <div class="calendar-key__key">
      <div class="calendar-key__circle fs-cNET"></div>
      <p>FS C# .NET Bootcamp</p>
    </div>
    <!-- CALENDAR 6 -->
    <div class="calendar-key__key">
      <div class="calendar-key__circle fs-javascript"></div>
      <p>FS JavaScript Bootcamp</p>
    </div>
    <!-- CALENDAR 7 -->
    <div class="calendar-key__key">
      <div class="calendar-key__circle lgbtq-group"></div>
      <p>LGBTQ+ AG</p>
    </div>
    <!-- CALENDAR 8 -->
    <div class="calendar-key__key">
      <div class="calendar-key__circle equity-group"></div>
      <p>Equity in Tech AG</p>
    </div>
  </div>
</div>
