<app-navigation></app-navigation>
<div class="onboard-section" *ngIf="user.type === 'Student'">
  <div class="toggle-section">
    <p>Onboarding Checklist</p>
    <button class="toggle" (click)="toggleShow()">
      <fa-icon [icon]="faEye"></fa-icon> Show / Hide
    </button>
  </div>
  <div class="onboard-parent" *ngIf="isShown">
    <app-onboarding-checklist></app-onboarding-checklist>
  </div>
</div>

<!-- White Profile headline and tag for student/staff -->
<div class="profile-header">
  <div class="item-content">
    <div class="item-header">
      <div class="flex-align-center">
        <img
          #userPhoto
          class="profile-pic"
          src="{{ user.photo }}"
          alt="User Profile Image"
        />
        <div class="item-details">
          <h2>{{ user.first_name }} {{ user.last_name }}</h2>
          <p class="uppercase letter-space class-type">{{ user.bootcamp }}</p>
          <button class="update-photo" (click)="uploadFile()">
            <fa-icon [icon]="faPencilAlt"></fa-icon>
            Update Photo
          </button>
        </div>
      </div>
      <p
        class="uppercase user-type"
        [ngClass]="user.type === 'Student' ? 'bg-maroon' : 'bg-orange'"
      >
        {{ user.type }}
      </p>
    </div>
    <p class="user-bio">
      {{ user.bio }}
    </p>
    <div class="link-container">
      <a *ngIf="displayLinkedIn" href="{{ user.linked_in }}" target="_blank">
        <fa-icon [icon]="faLinkedin"></fa-icon>
        LinkedIn
      </a>
      <a
        *ngIf="displayGithub"
        href="{{ user.github }}"
        target="_blank"
        class="margin-left"
      >
        <fa-icon [icon]="faGithub"></fa-icon>
        Github
      </a>
      <a
        *ngIf="displayCalendly"
        href="{{ user.calendly }}"
        target="_blank"
        class="margin-left"
      >
        <fa-icon [icon]="faLink"></fa-icon>
        Calendly
      </a>
    </div>
  </div>
</div>

<!-- Gray body with inputs for sgned in user to edit -->
<div class="profile-body">
  <!-- Profile Picture -->
  <!-- Image and button go here -->
  <h2>Edit Profile</h2>
  <!-- [formGroup]="uploadForm" (ngSubmit)="onSubmit()" -->
  <form class="user-bio" ng-submit="onSubmit()" novalidate>
    <!-- Name -->
    <div class="full-name">
      <!-- First name -->
      <div class="first-name">
        <label for="first-name" class="input-label">FIRST NAME</label>
        <div class="input-parent">
          <fa-icon [icon]="faUser" class="input-icon"></fa-icon>
          <input
            #userFirstName
            type="text"
            class="input-text"
            name="first-name"
            [(ngModel)]="user.first_name"
            placeholder="Enter your first name"
          />
        </div>
      </div>
      <!-- Last Name -->
      <div class="last-name">
        <label for="last-name" class="input-label">LAST NAME</label>
        <div class="input-parent">
          <!-- <fa-icon [icon]="faUser" class="input-icon"></fa-icon> -->
          <input
            #userLastName
            type="text"
            class="input-text"
            name="last-name"
            [(ngModel)]="user.last_name"
            placeholder="Enter your last name"
          />
        </div>
      </div>
    </div>
    <!-- Bootcamp -->
    <label for="bootcamp" class="input-label">BOOTCAMP</label>
    <div class="disabled-input-parent">
      <fa-icon [icon]="faLock" class="input-icon"></fa-icon>
      <!-- Non-editable section to display user's bootcamp -->
      <input
        #userBootcamp
        type="text"
        class="disabled-text input-text"
        [(ngModel)]="user.bootcamp"
        placeholder="Bootcamp Cohort"
        name="bootcamp"
        disabled
      />
    </div>
    <!-- Bio -->
    <label for="bio" class="input-label">BIO</label>
    <div class="input-parent multi-row">
      <fa-icon [icon]="faEdit" class="input-icon"></fa-icon>
      <textarea
        #userBio
        class="input-text"
        name="bio"
        rows="4"
        maxlength="200"
        [(ngModel)]="user.bio"
        placeholder="Say somehthing about yourself..."
      ></textarea>
    </div>
    <!-- Linkedin -->
    <label for="linkedin" class="input-label">LINKEDIN</label>
    <div class="input-parent">
      <fa-icon [icon]="faLinkedin" class="input-icon"></fa-icon>
      <input
        #userLinkedin
        type="text"
        class="input-text"
        name="linkedin"
        [(ngModel)]="user.linked_in"
        placeholder="Link your LinkedIn"
      />
    </div>
    <!-- Github -->
    <label for="github" class="input-label">GITHUB</label>
    <div class="input-parent">
      <fa-icon [icon]="faGithub" class="input-icon"></fa-icon>
      <input
        #userGithub
        type="text"
        class="input-text"
        name="github"
        [(ngModel)]="user.github"
        placeholder="Link your Github"
      />
    </div>
    <!-- Calendly -->
    <label
      for="calendly"
      class="input-label"
      [ngClass]="user.type === 'Staff' ? '' : 'hidden'"
      >CALENDLY</label
    >
    <div class="input-parent" [ngClass]="user.type === 'Staff' ? '' : 'hidden'">
      <fa-icon [icon]="faLink" class="input-icon"></fa-icon>
      <input
        #userCalendly
        type="text"
        class="input-text"
        name="calendly"
        [(ngModel)]="user.calendly"
        placeholder="Link your Calendly"
      />
    </div>
    <button
      class="save-changes profile-button"
      type="submit"
      (click)="
        onSubmit(
          userPhoto.src,
          userFirstName.value,
          userLastName.value,
          userBio.value,
          userBootcamp.value,
          userLinkedin.value,
          userGithub.value,
          userCalendly.value
        )
      "
    >
      <fa-icon [icon]="faSave" class="button-icon"></fa-icon>
      <span>Save Changes</span>
    </button>
  </form>
  <button class="sign-out profile-button" (click)="ngAuthService.SignOut()">
    <fa-icon [icon]="faSignOutAlt" class="button-icon"></fa-icon>
    <span>Sign Out</span>
  </button>
</div>
