<div class="container">
  <div class="sign-in__container">
    <img
      class="sign-in-container__logo"
      src="assets/svg/gcc-logo-orange-white.svg"
      alt="GC Connect logo"
    />

    <div class="sign-in-container__headings">
      <h1 class="sign-in-container__h1">Welcome Back!</h1>
      <h2 class="sign-in-container__h2">We've missed you.</h2>
    </div>

    <form class="sign-in__form">
      <label for="email"></label>
      <input
        type="text"
        class="sign-in__input email"
        placeholder="&#xf0e0;&nbsp;&nbsp;Email"
        name="email"
        #userName
        required
      />
      <label for="password"></label>
      <input
        type="password"
        class="sign-in__input password"
        placeholder="&#xf023;&nbsp;&nbsp;Password"
        name="password"
        #userPassword
        required
      />
      <div class="forgot-password">
        <span class="forgot-password__span"
          >Trouble logging in?
          <a class="forgot-password__link" routerLink="/forgot-password"
            >Reset Password</a
          ></span
        >
      </div>
      <input
        type="button"
        class="button button--email-sign-in"
        value="Sign in"
        (click)="ngAuthService.SignIn(userName.value, userPassword.value)"
      />
      <button
        type="button"
        class="button button--google-sign-in"
        (click)="signInWithGoogle()"
      >
        Sign in with Google
      </button>
      <a class="register__link" routerLink="/sign-up">Register</a>
    </form>
  </div>
</div>
