.button {
  border: none;
  padding: 1em;
  margin: 0.5em 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
}

.container {
  min-height: 100vh;
  min-width: 100%;
  background-color: #2d363c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-password__container {
  width: 350px;
}

.reset-password__logo {
  margin: 2em 0;
}

.reset-password-container__headings {
  align-self: flex-start;
  color: #fff;
}

.reset-password-container__h1 {
  font-size: 3em;
  padding-bottom: 0.25em;
}

.reset-password-container__p {
  padding-bottom: 1.75em;
  font-weight: 300;
}

.reset-password__form {
  display: flex;
  flex-direction: column;
}

.reset-password-form__input {
  padding: 1em 1.5em;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #1c242b;
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  font-family: FontAwesome, "Fira Sans", sans-serif;
}

.reset-password-form__input::placeholder {
  color: #fff;
  text-transform: uppercase;
}

.button--reset-password {
  background-color: #e1693d;
}

.button--reset-password:hover {
  filter: brightness(80%);
  transition: 0.3s;
}
