<div class="container">
  <div class="reset-password__container">
    <img
      class="reset-password__logo"
      src="assets/svg/gcc-logo-orange-white.svg"
      alt="GC Connect logo"
    />

    <div class="reset-password-container__headings">
      <h1 class="reset-password-container__h1">Reset Password</h1>
      <p class="reset-password-container__p">
        Enter your email address. If there's an account associated with it we'll
        email you a link to reset your password.
      </p>
    </div>

    <form class="reset-password__form">
      <label for="email"></label>
      <input
        type="email"
        class="reset-password-form__input"
        placeholder="&#xf0e0;&nbsp;&nbsp;Email"
        name="email"
        #passwordResetEmail
        required
      />
      <input
        type="submit"
        class="button button--reset-password"
        value="Reset Password"
        (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)"
      />
    </form>
  </div>
</div>
